html{
    color: rgba(0,0,0,.87);
    overflow-x: hidden;
}
body{
  font-family: "Helvetica","Arial",sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
}

.button{
  height:20px;
  line-height: 20px;
  background-color: blue;
  color :white;
  border-radius: 2px;
  text-decoration: none;
  padding: 5px;
}

.button:hover
{
  box-shadow: 2px 2px 2px 2px rgba(0,0,0,.14);
}


main{
  display: flex;
  width: 100vw;
  flex-wrap:wrap;
  /*box-shadow: 0 2px 2px 0 rgba(0,0,0,.14),0 3px 1px -2px rgba(0,0,0,.2),0 1px 5px 0 rgba(0,0,0,.12);*/
  margin-bottom: 10px;
}

article
{
  padding: 1%;
  margin: 1%;
  padding-top: 2%;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,.14),0 3px 1px -2px rgba(0,0,0,.2),0 1px 5px 0 rgba(0,0,0,.12);
  margin-bottom: 10px;
}

article .imgholder{
 min-height: 150px;
 background-image: url("http://via.placeholder.com/350x150");
 background-size: cover;
 background-position: center;
 position: relative;
 margin-top: 10px;
 width: 100%;
}
article .imgholder:after {
  position: absolute;
  content:"";
  top:0;
  left:0;
  width:100%;
  height:100%;
  opacity:.5;
  background-color: grey;
}

article .imgholder h3{
  position: absolute;
  bottom: 10px;
  margin: 10px;
  font-size: 20px;
  line-height: 20px;
  color: white;
  z-index: 2;
}

article .button
{
  float: right;
  margin:5px;
}

.searchbox
{
  width: 100%;
}

.searchbox form
{
  display:grid;
  grid-template-columns: 90%,10%;
  height: 30px;
}

.searchbox form .button
{
  height: 30px;
}
.searchbox form input
{
  grid-column: 1;
}
.searchbox form button
{
  grid-column: 2;
}

.history ol
{
  display: flex;
  list-style-type: none;
}
.history ol div ol
{
  display: block;
  list-style-type: none;
}
footer{
  background-color: blue;
}
footer ul
{
  display: flex;
  list-style-type: none;
  justify-content: center;
}
footer ul li
{
  margin: 5px;

}
footer ul li a
{
  text-decoration: none;
  color:white;
}

nav ul a li
{
  display: inline;
  float: right;
  height: 40px;
  padding-left: 5px;
  padding-right: 5px;
  line-height: 40px;
  background-color: inherit;

}
nav ul a li:first
{
  border-right: white solid 1px;

}
nav ul{
  height: 40px;
  background-color: blue;
  box-shadow: 0 3px 3px 0 rgba(0,0,0,.14),0 3px 1px -2px rgba(0,0,0,.2),0 1px 5px 0 rgba(0,0,0,.12);

}
nav ul a
{

  color: white;
  text-decoration: none;
}

nav ul a li.selected, nav ul a li:hover
{
  box-shadow: 0 3px 3px 0 rgba(0,0,0,.14),0 3px 1px -2px rgba(0,0,0,.2),0 1px 5px 0 rgba(0,0,0,.12);
}

nav
{
  margin-bottom: 20px;
  height: 150px;
  background-image: url("http://via.placeholder.com/1920x150");
  background-size: cover;
  background-position: center;
  width: 100%;
/*  box-shadow: 0 3px 3px 0 rgba(0,0,0,.14),0 3px 1px -2px rgba(0,0,0,.2),0 1px 5px 0 rgba(0,0,0,.12);*/
}


input[name="menu"]
{
  display:none;
  float: right;
}
label[for="menu"]
{
  display:none;
  float: right;
  width: 40px;
  height: 40px;
  position: relative;
}
label[for="menu"] span
{
  transition: 1s;
  display: block;
  position: absolute;
  height: 7px;
  width: 100%;
  background: white;
  border-radius: 2.5px;
  opacity: 1;
  right: 0px;
}
label[for="menu"] span:nth-child(1)
{top:1px;}
label[for="menu"] span:nth-child(2)
{top:16px;}
label[for="menu"] span:nth-child(3)
{top:31px;}
input[name="menu"]:checked ~ label span
{
  /*background-color: #ff4c4c;*/
}

input[name="menu"]:checked ~ label span:nth-child(2)
{
  transition: 1s;
  right: -60px;
}
input[name="menu"]:checked ~ label span:nth-child(3)
{
-ms-transform: rotate(45deg); /* IE 9 */
   -webkit-transform: rotate(45deg); /* Chrome, Safari, Opera */
   transform: rotate(45deg);
   top:20px;
}

input[name="menu"]:checked ~ label span:nth-child(1)
{
-ms-transform: rotate(-45deg); /* IE 9 */
   -webkit-transform: rotate(-45deg); /* Chrome, Safari, Opera */
   transform: rotate0-(45deg);
   top:20px;
}

input[name="menu"]:checked ~ ul a li
{
  display: block;
  right: 0px;
  opacity: 1;
}

aside section:not(.ad)
{
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.14),0 3px 1px -2px rgba(0,0,0,.2),0 1px 5px 0 rgba(0,0,0,.12);
    margin-bottom: 20px;
}

aside section:not(.ad) h4
{
  background-color: blue;
  color: white;
  text-align: center;
}
aside section:not(.ad) ul,aside section:not(.ad) ol
{
  list-style: none;
  padding-bottom: 10px;
}

aside section:not(.ad) ul li a ,aside section:not(.ad) ol li a
{
  text-decoration: none;
  color: blue;
}

aside section:not(.ad) ul li
{
  margin-bottom: 2px;
}
aside section:not(.ad) ul li a
{
  line-height: 80px;
}
aside section:not(.ad) ul li img
{
  float :left;
  margin-right: 10px;
}
.pagination
{
  width: 100%;
  text-align: center;
  display: flex;
  justify-content: center;
}
.pagination ul
{
  list-style: none;
  padding-left: 0px!important;
}
.pagination ul li
{
  display: inline;
}
.pagination ul li a
{
  text-decoration: none;
  margin: 2px;
  padding: 2px;
  background-color: blue;
  color: white;
  border-radius: 2px;
}
.pagination ul li a.active{
  background: white;
  color: blue;
}
.pagination ul li a:hover:not(.active)
{
  box-shadow: 2px 2px 2px 2px rgba(0,0,0,.14);
}
.pagination ul .start a::after
{
  content: "<";
}
.pagination ul .end a::after
{
  content: ">";
}
.ad img
{
  width: 100%;
}

#contact-container
{
  display: flex;
  justify-content: flex-start;
  flex-direction:row-reverse;
  align-items: stretch;

}
#contact-container main
{
  justify-content: center;
}
#contact-container aside
{
  margin-top: 80px;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,.14),0 3px 1px -2px rgba(0,0,0,.2),0 1px 5px 0 rgba(0,0,0,.12);
  padding: 20px;
}
#contact-container aside ul
{
  padding: 0!important;
}

#contact-container aside ul li
{
  list-style: none;
  display: block;
}
#contact-container aside ul li i
{
  background: blue;
  height: 50px;
  width: 50px;
  text-align: center;
  line-height: 50px;
  border-radius: 25px;
  margin-bottom: 30px;
  color:white;
  display: inline-block;
  margin-right: 5px;
}

#contact-container aside ul li p
{
  display: inline-block;
  vertical-align: middle;
  white-space: normal;
}
#contact-container aside ul li p:first-of-type
{
  display: inline-block;
  vertical-align: unset;
  line-height: 20px;
  margin-top: 0px !important;
  white-space: normal;
}

.content
{
  display: flex;
  width: 100%;
  align-items: center;
  flex-direction: column;
}
.content p,content h1{
  width: 80%;
}
.content iframe
{
  width: 80%;
  height: 450px;
}
.contact .message
{
  display: flex;
}

.contact
{
  width: 80%;
}

.contact .data
{
  display: block;
}

.contact .message
{
  width: 100%;
  display: block;
  text-align: center;
}
.contact .message textarea {
  width: 100%;
  height: 60vh;
}

.contact .data .item
{
  display: grid;
  grid-template-columns: 1fr 4fr;
  padding: 10px;
}
.contact .data .item label
{
  grid-column: 1/span 1;
  margin-right: 5px;
}
.contact .data .item input
{
  grid-column:2/span 1;
  margin-bottom: 10px;
}
.contact input[type="submit"]{
  width: 100%;
  height: 30px;
}

  main #profile section
  {
    display: inline-block;
    padding: 5px;
  }
  main #profile
  {
    width: inherit;
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr 2fr;

  }
  main #profile section:first-child
  {
    grid-column: 1/ span 1;
  }
  main #profile section:nth-child(2)
  {
    grid-column: 2/ span 1;
  }

main #profile section h3+ul
{
  display: inline-block;
  border-left: 1px solid black ;
  list-style: none;

}

main #profile section h3+ul li:before {
font-family: 'FontAwesome';
content: '\f061';
margin:0 5px 0 -15px;
}
main #profile section h3
{
  display: inline-block;
  vertical-align: middle;
  min-width: 160px;
  top:50%;
}
main #profile section h3 span
{
  position: relative;

  height: inherit;
}

@media (max-width:700px) {

  main:not(#contact) article
  {
    width: 92%;
  }
  .history ol div
  {
    width: 25vw;
  }
  aside{
    margin-top: 10px;
  }
  .contact .data .item
  {
    min-width: 100%;
  }

  nav ul a li
  {
    float: none;
    background-color: blue;
    opacity: 0;
    transition: 1s;
    display: flex;
    height: 0;
    overflow: hidden;
  }

  input[name="menu"]:checked ~ul a li
  {
    transition:1s;
    opacity: 1;
    height:40px;
  }

  label[for="menu"]
  {
    display: block;

  }
  nav{
    z-index: 4;
    position: relative;
  }
  nav ul{
    padding-left: 0px !important;
    width: 99vw;
  }
  nav ul a
  {
    width: inherit;
  }
  nav ul a li
  {
    width: inherit;
  }

  main #profile section:first-child
  {
    grid-column: 1/span 1;
    grid-row: 1/ span 1;
  }
  main #profile section:nth-child(2)
  {
    grid-column: 1/span 1;
    grid-row: 2/ span 1;
  }
  main #profile section h3
{
  display: block;
}

}
@media (min-width:700px) {
  main:not(#contact) article
  {
    width: 46%;

  }
  .contact .data
  {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .contact .data .item
  {
    display: grid;
    grid-template-columns: 1fr 3fr;
    align-items: stretch;
  }

}
@media (max-width:1000px) {

  main#profile section h3+ul,main#profile section h3
  {
    display:block;

  }

  .searchbox form
  {
    display:block;
  }
  .searchbox form input,.searchbox form button
  {
    width: 100%;
  }

}
@media (min-width:1000px) {
  main:not(#contact) article
  {
    width: 29.333%;
  }
  main:not(#contact){
    width: 78vw;
    float: left;
  }
  .contact .data .item
  {
    display: grid;
    grid-template-columns: 1fr 6fr;
    width: 30%;
  }

  aside{
    width: 19vw;
    float: right;
  }
  footer
  {
    bottom: 0;
    clear: both;
  }
  .history ol div
  {
    width: 100vw;
  }
  .history ol
  {
    display: block;
  }

}

@media (min-width:1200px) {

  main #profile section h3
  {
    float: left;
  }
}
/*hax for internet exploler*/
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  aside .searchbox form button
  {
    width: 45%;
  }

  form.contact .data .item label
  {
    width: 30%;
  }
  form.contact .data .item input
  {
    width: 70%;
  }
}
