
<main id="contact">
<form class="contact" action="contact.html" method="post">
  <div class="data">
    <div class="item">
<label for="name">Név</label>
<input type="text" name="name" value="" placeholder="Adja meg a nevét!">
</div><div class="item">
  <label for="email">Email</label>
  <input type="email" name="email" value="" placeholder="Adja meg az email címét!">
</div><div class="item">
  <label for="topic">Tárgy</label>
  <input type="text" name="topic" value="Kapcsolat" placeholder="Adja meg az üzenet tárgyát!">
</div>
</div>
<div class="message">
<label for="message">Üzenet</label>
<textarea name="message" rows="8" cols="80"></textarea>
<div>
  <input class="button" type="submit" value="Küldés">
</form>
</main>
<!--<aside class="">
  <section class="searchbox">
    <form class="" action="index.html" method="post">
      <input type="text" name="search" value="">
      <button type="submit" class="button" name="button"><i class="fa fa-search" aria-hidden="true"></i></button>
    </form>
  </section>
  <section class="history">
    <ol>
      <div class="element">
      <li>2017</li>
      <ol>
        <li><a href="#">Október</a></li>
        <li><a href="#">November</a></li>
        <li><a href="#">December</a></li>
      </ol>
    </div>
    <div class="element">
      <li>2016</li>
    </div>
    </ol>
  </section>
  <section class="ad">
<img src="http://via.placeholder.com/300x700" alt="ad">
  </section>
</aside>-->
