<footer>
  <ul>
    <li> <a href="#"><i class="fa fa-facebook-official" aria-hidden="true"></i></a>  </li>
    <li> <a href="#"><i class="fa fa-google-plus-official" aria-hidden="true"></i></a> </li>
    <li> <a href="#"><i class="fa fa-envelope" aria-hidden="true"></i></a> </li>
  </ul>
</footer>
</body>
</html>
