
<main>
<article class="">
  <div class="imgholder ">
    <h3>Shankle ham hock pork, filet mignon</h3>
  </div>
  <p>Spicy jalapeno bacon ipsum dolor amet enim nulla porchetta ad, flank meatball spare ribs velit buffalo magna. Tri-tip magna tail, sunt sed buffalo cillum. Bresaola tri-tip ham, ut filet mignon adipisicing corned beef rump eu pork chop deserunt. Boudin kielbasa beef biltong. Beef kielbasa chicken voluptate reprehenderit. Sausage tri-tip tongue officia.</p>
  <hr>
  <a class="button" href="./post.html">Tovább</a>
</article>
<article class="">
  <div class="imgholder ">
    <h3>Shankle ham hock pork, filet mignon</h3>
  </div>
  <p>Spicy jalapeno bacon ipsum dolor amet enim nulla porchetta ad, flank meatball spare ribs velit buffalo magna. Tri-tip magna tail, sunt sed buffalo cillum. Bresaola tri-tip ham, ut filet mignon adipisicing corned beef rump eu pork chop deserunt. Boudin kielbasa beef biltong. Beef kielbasa chicken voluptate reprehenderit. Sausage tri-tip tongue officia.</p>
  <hr>
  <a class="button" href="./post1.html">Tovább</a>
</article>
<article class="">
  <div class="imgholder ">
    <h3>Shankle ham hock pork, filet mignon</h3>
  </div>
  <p>Spicy jalapeno bacon ipsum dolor amet enim nulla porchetta ad, flank meatball spare ribs velit buffalo magna. Tri-tip magna tail, sunt sed buffalo cillum. Bresaola tri-tip ham, ut filet mignon adipisicing corned beef rump eu pork chop deserunt. Boudin kielbasa beef biltong. Beef kielbasa chicken voluptate reprehenderit. Sausage tri-tip tongue officia.</p>
  <hr>
  <a class="button" href="./post.html">Tovább</a>
</article>
<article class="">
  <div class="imgholder ">
    <h3>Shankle ham hock pork, filet mignon</h3>
  </div>
  <p>Spicy jalapeno bacon ipsum dolor amet enim nulla porchetta ad, flank meatball spare ribs velit buffalo magna. Tri-tip magna tail, sunt sed buffalo cillum. Bresaola tri-tip ham, ut filet mignon adipisicing corned beef rump eu pork chop deserunt. Boudin kielbasa beef biltong. Beef kielbasa chicken voluptate reprehenderit. Sausage tri-tip tongue officia.</p>
  <hr>
  <a class="button" href="./post.html">Tovább</a>
</article>
<article class="">
  <div class="imgholder ">
    <h3>Shankle ham hock pork, filet mignon</h3>
  </div>
  <p>Spicy jalapeno bacon ipsum dolor amet enim nulla porchetta ad, flank meatball spare ribs velit buffalo magna. Tri-tip magna tail, sunt sed buffalo cillum. Bresaola tri-tip ham, ut filet mignon adipisicing corned beef rump eu pork chop deserunt. Boudin kielbasa beef biltong. Beef kielbasa chicken voluptate reprehenderit. Sausage tri-tip tongue officia.</p>
  <hr>
  <a class="button" href="./post.html">Tovább</a>
</article>
<article class="">
  <div class="imgholder ">
    <h3>Shankle ham hock pork, filet mignon</h3>
  </div>
  <p>Spicy jalapeno bacon ipsum dolor amet enim nulla porchetta ad, flank meatball spare ribs velit buffalo magna. Tri-tip magna tail, sunt sed buffalo cillum. Bresaola tri-tip ham, ut filet mignon adipisicing corned beef rump eu pork chop deserunt. Boudin kielbasa beef biltong. Beef kielbasa chicken voluptate reprehenderit. Sausage tri-tip tongue officia.</p>
  <hr>
  <a class="button" href="./post.html">Tovább</a>
</article>
<article class="">
  <div class="imgholder ">
    <h3>Shankle ham hock pork, filet mignon</h3>
  </div>
  <p>Spicy jalapeno bacon ipsum dolor amet enim nulla porchetta ad, flank meatball spare ribs velit buffalo magna. Tri-tip magna tail, sunt sed buffalo cillum. Bresaola tri-tip ham, ut filet mignon adipisicing corned beef rump eu pork chop deserunt. Boudin kielbasa beef biltong. Beef kielbasa chicken voluptate reprehenderit. Sausage tri-tip tongue officia.</p>
  <hr>
  <a class="button" href="./post.html">Tovább</a>
</article>
<article class="">
  <div class="imgholder ">
    <h3>Shankle ham hock pork, filet mignon</h3>
  </div>
  <p>Spicy jalapeno bacon ipsum dolor amet enim nulla porchetta ad, flank meatball spare ribs velit buffalo magna. Tri-tip magna tail, sunt sed buffalo cillum. Bresaola tri-tip ham, ut filet mignon adipisicing corned beef rump eu pork chop deserunt. Boudin kielbasa beef biltong. Beef kielbasa chicken voluptate reprehenderit. Sausage tri-tip tongue officia.</p>
  <hr>
  <a class="button" href="./post.html">Tovább</a>
</article>
<article class="">
  <div class="imgholder ">
    <h3>Shankle ham hock pork, filet mignon</h3>
  </div>
  <p>Spicy jalapeno bacon ipsum dolor amet enim nulla porchetta ad, flank meatball spare ribs velit buffalo magna. Tri-tip magna tail, sunt sed buffalo cillum. Bresaola tri-tip ham, ut filet mignon adipisicing corned beef rump eu pork chop deserunt. Boudin kielbasa beef biltong. Beef kielbasa chicken voluptate reprehenderit. Sausage tri-tip tongue officia.</p>
  <hr>
  <a class="button" href="./post.html">Tovább</a>
</article>

<div class="pagination">
  <ul>
    <li class="start">
      <a href="#"></a>
    </li>
    <li><a href="#">1</a></li>
    <li><a class="active">2</a></li>
    <li><a href="#">3</a></li>
    <li class="end"><a href="#"></a></li>
  </ul>
</div>
</main>
<aside class="">
  <section class="searchbox">
    <form class="" action="index.html" method="post">
      <input type="text" name="search" value="">
      <button type="submit" class="button" name="button"><i class="fa fa-search" aria-hidden="true"></i></button>
    </form>
  </section>
  <section class="ad">
<img src="http://via.placeholder.com/300x700" alt="ad">
  </section>
  <section class="history">
    <ol>
      <div class="element">
      <li>2017</li>
      <ol>
        <li><a href="#">Október</a></li>
        <li><a href="#">November</a></li>
        <li><a href="#">December</a></li>
      </ol>
    </div>
    <div class="element">
      <li>2016</li>
    </div>
    </ol>
  </section>

</aside>
